* {
    padding: 5px; 
    border-radius: 10px;

}
#main {
    display: flex;
    justify-content: space-between;
}
#left {
    flex: 3;
}

#right {
    flex: 1;
}

.card{
    background-color: lightgrey;
}